{% extends 'base.html'%}
    {% block main %}
    <div class="row">
    <h1 class="text-center mb-5">BMI <span class="text-muted">CALCULATOR</span></h1>
    <div class="col-6 offset-3">
    <form action="" method="POST">
        <label for="height">Enter your height:</label>
        <input type="number" placeholder="Your height(cm)" name="height" required max="240" min="80"><br>
        <label for="height">Enter your weight:</label>
        <input type="number" placeholder="Your weight(kg)" name="weight" required max="450" min="20"><br>
        <button class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
{% endblock %}
